
	.navcontainer{
    margin-right: 15%;
    margin-left: 15%;
    height:71px;
	}
.container{
	text-align:center;
}

.flip-box {
    width: 100%;
    height: 100%;

}

.flip {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .5s;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: white;
}

.back {
    transform: rotateY(180deg);
}
.flip-box:hover .flip {
    transform: rotateY(-180deg);
}


.carousel-control-prev,
.carousel-control-next{
    height: 55%;
    width: 50px;
    outline: $color-white;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid $color-white;
    background-color: $color-white;
    margin-top:70px;
    margin:70px;
}

.carousel-control-prev-icon { 
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
    width: 30px;
    height: 48px;
}
.carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

/* .top-content .carousel-control-prev {
    left: -110px;
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}
 
.top-content .carousel-control-next {
    right: -110px;
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}
 */
